.AboutMe {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.footer a {
    color: white;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    color: #bde0fe;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    color: #bde0fe;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
     background:#bde0fe ;
     color: black;
     padding: 0.8rem;
     border-radius: 0.7rem;
     display: flex;
     border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: green;
    border-color: white;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: white;
}

 /* Media-queries
/* Mobile phones or similar */ 
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__socials {
        margin-bottom: 2.6rem;
    }
}